header {
  background-image: url("../images/tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100VH; }
  header .header__container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    header .header__container nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .header__container nav ul {
        display: flex;
        flex-direction: row;
        padding-left: 0; }
        header .header__container nav ul li {
          list-style: none;
          padding-right: 30px; }
          header .header__container nav ul li:last-child {
            padding-right: 0; }
          header .header__container nav ul li a {
            color: white;
            font-size: 20px;
            text-decoration: none; }
          header .header__container nav ul li a:hover {
            text-decoration: underline; }
    header .header__container .main__content h1 {
      color: white; }
    header .header__container .main__content h2 {
      color: white; }
    header .header__container .arrow__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
      header .header__container .arrow__container .arrow {
        background-color: rgba(255, 255, 255, 0.2);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        cursor: pointer; }
        header .header__container .arrow__container .arrow .symbol {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: white;
          line-height: 69px;
          font-size: 60px;
          margin: 0; }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  header .header__container .main__content h1 {
    font-size: 45px; }
  header .header__container .main__content h2 {
    font-size: 24px; }
  header .header__container nav {
    flex-direction: column;
    align-items: center; }
    header .header__container nav ul {
      margin-top: 0;
      margin-bottom: 0; }
    header .header__container nav .mini__nav {
      flex-direction: column;
      align-items: center; }
      header .header__container nav .mini__nav li {
        padding-right: 0; } }

@media only screen and (min-width: 640px) and (max-width: 768px) {
  header .header__container .main__content h1 {
    font-size: 70px; }
  header .header__container .main__content h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .header__container .main__content h1 {
    font-size: 80px; }
  header .header__container .main__content h2 {
    font-size: 28px; } }

@media only screen and (min-width: 1024px) {
  header .header__container .main__content h1 {
    font-size: 90px;
    max-width: 550px; }
  header .header__container .main__content h2 {
    font-size: 30px; } }

.intro {
  background-color: #ededed; }
  .intro .intro__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; }

@media only screen and (min-width: 1024px) {
  .intro .intro__content {
    max-width: 800px; }
    .intro .intro__content p {
      font-size: 24px;
      padding: 100px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro .intro__content {
    max-width: 550px; }
    .intro .intro__content p {
      font-size: 22px;
      padding: 80px 0; } }

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .intro .intro__content {
    max-width: 400px; }
    .intro .intro__content p {
      font-size: 20px;
      padding: 60px 0; } }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .intro .intro__content {
    max-width: 320px; }
    .intro .intro__content p {
      font-size: 20px;
      padding: 40px 0; } }

.cards {
  background-color: #ededed; }
  .cards .card__wrapper {
    padding: 100px 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .cards .card__wrapper .card {
      padding: 0 10px;
      box-sizing: border-box; }
      .cards .card__wrapper .card .image__wrapper img {
        max-width: 280px; }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .cards .card__wrapper .card {
    width: 100%; } }

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .cards .card__wrapper .card {
    width: 50%; } }

@media only screen and (min-width: 678px) and (max-width: 1200px) {
  .cards .card__wrapper .card {
    width: 50%; } }

@media only screen and (min-width: 1200px) {
  .cards .card__wrapper .card {
    width: calc(100%/4); } }

.aside {
  background-color: #ededed;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .aside img {
    max-width: 300px;
    max-height: 600px; }
  .aside .aside__wrapper {
    max-width: 1200px;
    width: 100%; }
    .aside .aside__wrapper .top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .aside .aside__wrapper .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }

.images {
  background-color: #ededed;
  padding-top: 50px;
  padding-bottom: 50px; }
  .images .images__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto; }
    .images .images__wrapper .top {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px; }
      .images .images__wrapper .top .portraits {
        width: 600px;
        height: 380px;
        display: flex;
        flex-direction: row; }
        .images .images__wrapper .top .portraits img {
          height: 100%;
          width: calc(50% - 20px);
          padding-left: 10px;
          padding-right: 10px; }
      .images .images__wrapper .top .landscape {
        width: 600px;
        height: 380px; }
        .images .images__wrapper .top .landscape img {
          height: 100%;
          width: calc(100% - 20px);
          padding-left: 10px;
          padding-right: 10px; }
    .images .images__wrapper .bottom {
      display: flex;
      flex-direction: row; }
      .images .images__wrapper .bottom .landscape {
        width: 600px;
        height: 380px; }
        .images .images__wrapper .bottom .landscape img {
          height: 100%;
          width: calc(100% - 20px);
          padding-left: 10px;
          padding-right: 10px; }
      .images .images__wrapper .bottom .text__content {
        width: 600px; }
        .images .images__wrapper .bottom .text__content p {
          padding-left: 10px;
          padding-right: 10px;
          margin: 0; }

footer {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px; }
  footer h3 {
    font-size: 20px;
    text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif; }
  body h1 {
    line-height: 90px; }
  body p {
    line-height: 30px; }
