.images{
    background-color: #ededed;

    .images__wrapper{
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: auto;

        .top{
            display: flex;
            flex-direction: row;

            .portraits{
                img{
                    max-height: 380px;
                    width: 280px;

                    &:first-child{
                        padding-right: 10px;
                    }
                    &:last-child{
                        padding-left: 10px;
                    }
                }
                
            }
    
            .landscape{
                img{
                    max-height: 380px;
                    width: 580px;
                    padding-left: 20px;
                }
            }
        }
    
        .bottom{
            display: flex;
            flex-direction: row;

            .landscape{
                img{
                    max-height: 380px;
                    width: 580px;
                    padding: 0 10px;
                }
            }
        }
    }
}