@import 'normalize';
@import 'header.scss';
@import 'intro.scss';
@import 'cards.scss';
@import 'aside.scss';
@import 'images.scss';
@import 'footer.scss';


body{
    font-family: 'Montserrat', sans-serif;

    h1{
        line-height: 90px;
    }

    p{
        line-height: 30px;
    }

    img{
        transition: transform .2s;
    }

    img:hover{
        transform: scale(1.2);
    }
}