@import 'normalize';
@import 'header.scss';
@import 'intro.scss';
@import 'cards.scss';

body{
    font-family: 'Montserrat', sans-serif;

    h1{
        line-height: 90px;
    }

    p{
        line-height: 30px;
    }
}